.alert {
    padding: 15px;
    border-left: 6px solid #eee;
    // @extend %rounded;
    margin-bottom: 10px;
        &-primary {
            @include alert-variant($primary-color);
        }
        &-info {
            @include alert-variant($info-color);
        }
        &-danger {
            @include alert-variant($danger-color);
        }
}