.btn{
    padding: 10px 16px;
    @extend %rounded;
    background: #f9f9f9;
    text-decoration: none;
    display: inline-block;

    &-primary {
        @include btn-variant($primary-color, $btn-color);
    }
    &-info {
        @include btn-variant($info-color, $btn-color);
    }
    &-danger {
        @include btn-variant($danger-color, $btn-color);
    }
    &-dark {
        @include btn-variant($dark-color, $btn-color);
    }
}