.btn{
    padding: 10px 16px;
    border-radius : 5px;
    background: #f9f9f9;
    text-decoration: none;
}

.btn-primary{
  @include btn-variant($primary-color, $btn-color);
}
.btn-info{
    @include btn-variant($info-color, $btn-color);
}
.btn-danger{
    @include btn-variant($danger-color, $btn-color);
}
.btn-dark {
    @include btn-variant($dark-color, $btn-color);
}