
// mixin
@mixin btn-variant ($bg, $color){

    background-color: $bg;
    color : $color;

    &:hover {
        background-color: darken($bg, 10%);
    }
}

@mixin alert-variant($color){
    background-color: lighten($color, 20%);
    border-color: $color;
    color: darken($color, 35%);
}