@import 'variables';
@import 'mixins';

@import 'scaffolding';
@import 'navigation';
@import 'button';

.well {
    margin-top: 50px;
    padding: $pd;
    background-color: $primary-color;
    color: $white;
    margin-bottom: 30px;
}
.magnum {
    color: $white;
    padding: $pd;
    background-color: $info-color;
    margin-bottom: 30px;
}